.btn {
  border: 1px solid $color-medium-dark-cyan-blue;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease-out;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  color: $color-medium-dark-cyan-blue;
  font-weight: 500;
  &.is-active,
  &:hover {
    background: $color-light-gray-shade;
  }

  &:first-child {
    border-bottom-left-radius: 1rem;
    border-left-width: 1px;
    border-top-left-radius: 1rem;
  }

  &:last-child {
    border-bottom-right-radius: 1rem;
    border-right-width: 1px;
    border-top-right-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .btn {
    padding: 0.5rem 1rem;
  }
}
