html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: $font-roboto;
  font-size: 1.6rem;
  background-color: $color-baby-blue;
  color: $color-medium-dark-cyan-blue;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
