// font-family: 'Roboto', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// colors
$color-black: #000;
$color-baby-blue: #89cff0;
$color-light-blue: #add8e6;
$color-light-cyan: #e0ffff;
$color-white-smoke: #f6f6f6;
$color-medium-dark-cyan-blue: #3f444a;
$color-light-cyan-blue: #7c8187;
$color-light-blue-shade: #c1c4cb;
$color-light-gray-shade: #e4e4e4;
$color-white-smoke: #f5f5f5;
$color-white: #ffffff;
